<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
    <body>
        <div class="main" layout:fragment="content">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>搜索神马玩意儿</legend>
            </fieldset>
            <div class="layui-col-xs6 layui-col-md12">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">输入关键字</label>
                        <div class="layui-input-block">
                            <input type="text" name="keyword" autocomplete="off" placeholder="目前支持协议和地区" class="layui-input">
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-clear"></div>
            <table id="index-table"></table>
        </div>
        <script layout:fragment="customscript">
            layui.use('table', function(){
                var table = layui.table;
                var $ = layui.$;
                table.render({
                    elem: '#index-table'
                    ,url:'/api/search'
                    ,limit: 15
                    ,method: 'post'
                    ,where: {token: '[[${token}]]', 'pre-token': ""}
                    ,cellMinWidth: 100
                    ,limits: [10, 15]
                    ,cols: [
                        [
                        {field:'ip', width:180, title: 'IP'}
                        ,{field:'port', width:100, title: '端口'}
                        ,{field:'scheme', width:80, title: '协议'}
                        ,{field:'area', minWidth:200, maxWidth:350, title: '地区'}
                        ,{field:'lastCheckTime', width:200, title: '最后检测时间'}
                        ,{field:'createdAt', title: '出库时间'}
                    ]
                    ]
                    ,page: true
                    ,even: true
                    ,done:function(data) {
                        if(data.token !== undefined && data.token !== "" && data.token != null) {
                            var preToken = this.where.token;
                            this.where = {token: data.token, 'pre-token': preToken};
                        }
                    }
                });
            });
        </script>
    </body>
</html>
